# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Mention commonly used libraries in data science.
- Introduce Markdown usage in Jupyter Notebook.
- Provide an overview of creating tables in Markdown.
- Demonstrate heading styles in Markdown.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries by Data Scientists include:

1.NumPy:

2.pandas

3.matplotlib

| Data Science Tools |
|--------------------|
| Jupyter|
|RStudio|
|Visual Studio|

## Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Virag Shah